body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculoImc {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.calculoImc label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

.calculoImc input {
    margin-left: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 20px);
}

.calculoImc button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.calculoImc button:hover {
    background-color: #0056b3;
}

.Imc-resultado {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.yellow {
    background-color: yellow;
    color: black;
}

.green {
    background-color: green;
    color: white;
}

.orange {
    background-color: orange;
    color: white;
}

.red {
    background-color: red;
    color: white;
}
